.informasi-card {
    background-color: #219C90;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(0 0 0);
}

.informasi-header {
    margin-bottom: 0;
    padding: 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.informasi-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.informasi-body {
    padding: 1rem; 
}

.informasi {
    margin: auto;
    display: flex;
    width: 420px;
    color: #fff;
    border: 3px solid #fff;
    padding: 0.4rem; 
    margin-bottom: 5px;
    width: 90%;
}

.informasi h3 {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.informasi-persentase {
    display: flex;
    align-items: center;
    align-content: center;
}

.informasi-persentase h1 {
    color: black;
    font-weight: bold;
    font-size: 45px;
    align-items: center;
    align-content: center;
}

.total-persentase {
    margin-left: 10px;
    font-size: 20px;
}

.informasi-icon {
    text-align: center;
    align-items: center;
    align-content: center;
}

.icon-card {
    width: 60px;
    align-items: center;
    align-content: center;
}


@media only screen and (max-width: 600px) {
    .total-persentase {
        margin-left: 10px;
        font-size: 17px;
    }
}

/* TOP SALES */
.topsales-card {
    background-color: #000000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgb(0 0 0);
}

.topsales-informasi {
    margin: auto;
    display: flex;
    color: #fff;
    padding: 0.4rem; 
    margin-bottom: 5px;
    width: 90%;
}

.rank-list {
    margin: auto;
    width: 100%;
}

.rank-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Menyesuaikan lebar dengan parent */
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.rank-item:hover {
    background-color: #f0f0f0;
}

/* Rangked Perolehan Sales */
.medal {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    filter: drop-shadow(16px 7px 8px );
    -webkit-filter: drop-shadow(0px 0px 10px  #000000);
}

.username-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.rank-item.first-three{
    background-color: #43D9BD;
    border: 3.5px solid #063573;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.rank-item.first-three .username {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px; 
    border-bottom: 2px solid #000000;
}

.rank-item.first-three .jumlah {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}
.rank-item.rank-four-and-below {
    background-color: #8C8C8C;
    border: 3.5px solid #404040;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.rank-item.rank-four-and-below .username {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px; 
    border-bottom: 2px solid #000000;
}

.rank-item.rank-four-and-below .jumlah {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.rank-item.rank-four-and-below .nomor {
    margin-right: 40px; 
    font-weight: bold;
    font-size: 26px;
    color: #000000;
}

.ct-selling {
    color: #000000;
    font: 17px;
    font-weight: bold;
}

.ct-selling span {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
}

/* Rank Item terminasi */

.username-terminasi {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.persentase-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.medal-terminasi {
    width: 40px;
    height: 40px;
    filter: drop-shadow(16px 7px 8px );
    -webkit-filter: drop-shadow(0px 0px 5px  #000000);
}

.rank-item.first {
    background-color: #43D9BD;
    border: 3px solid #063573;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.rank-item.first .username {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px; 
    border-bottom: 2px solid #000000;
}

.rank-item.rank-two-and-below .username {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px; 
    border-bottom: 2px solid #000000;
}

.rank-item.first .jumlah {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

.rank-item.rank-two-and-below .jumlah {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

.rank-item.first .jumlah-terminasi {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    font-weight: bold;
}

.rank-item.rank-two-and-below {
    background-color: #8C8C8C;
    border: 3px solid #404040;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.rank-item.rank-two-and-below .jumlah-terminasi {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

.rank-item.rank-two-and-below .nomor-terminasi {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-self: center;
    color: #000000;
}

/* Rangked Perolehan Sales */
@media only screen and (max-width: 600px) {
    .informasi-title {
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }

    .username-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .rank-item.first-three .username {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 5px; 
        border-bottom: 2px solid #000000;
    }
    
    .rank-item.first-three .jumlah {
        font-size: 15px;
        color: #000000;
        font-weight: bold;
    }

    .rank-item.rank-four-and-below .username {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 5px; 
        border-bottom: 2px solid #000000;
    }
    
    .rank-item.rank-four-and-below .jumlah {
        font-size: 15px;
        color: #000000;
        font-weight: bold;
    }
    
    .rank-item.rank-four-and-below .nomor {
        margin-right: 15px; 
        font-weight: bold;
        font-size: 26px;
        color: #000000;
    }

    .medal {
        width: 55px;
        height: 55px;
        margin-right: 3px;
        filter: drop-shadow(16px 7px 8px );
        -webkit-filter: drop-shadow(0px 0px 10px  #000000);
    }
    
    .rank-item.first .username {
        font-size: 22px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 5px; 
        border-bottom: 2px solid #000000;
    }
    
    .rank-item.first .jumlah {
        font-size: 13px;
        color: #000000;
        font-weight: bold;
    }

    .rank-item.first .jumlah-terminasi {
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        font-weight: bold;
        margin-top: 5px;
    }
}

/* Rangked Perolehan Sales Terminasi */
@media only screen and (max-width: 600px) {
    .medal-terminasi {
        width: 40px;
        height: 40px;
        filter: drop-shadow(16px 7px 8px );
        -webkit-filter: drop-shadow(0px 0px 5px  #000000);
        margin-left: -60px;
    }

    .rank-item.first .username {
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 5px; 
        border-bottom: 2px solid #000000;
    }
    
    .rank-item.rank-two-and-below .username {
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 5px; 
        border-bottom: 2px solid #000000;
    }

    .rank-item.first .jumlah {
        font-size: 14px;
        color: #000000;
        font-weight: bold;
    }
    
    .rank-item.rank-two-and-below .jumlah {
        font-size: 13px;
        color: #000000;
        font-weight: bold;
    }

    .rank-item.rank-two-and-below .nomor-terminasi {
        font-weight: bold;
        font-size: 18px;
        display: flex;
        align-self: center;
        color: #000000;
        margin-left: -45px;
    }

    .rank-item.rank-two-and-below .jumlah-terminasi {
        font-size: 13px;
        color: #000000;
        font-weight: bold;
        margin-left: -50px;
    }

    .rank-item.first .jumlah-terminasi {
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        font-weight: bold;
        margin-top: 5px;
        margin-left: -60px;
    }
}

.copy-wa {
    display: none;
}

/* Perolehan Per Pop */
.bg-pop {
    background-color: #0F8392;
    border: 2px solid #cecaca;
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    margin: 1px;
}

.bg-pop h5 {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.bg-pop p {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.username-container a {
    text-decoration: none;
    color: inherit; /* Optional: Use the same color as the parent container */
}

/* Daftar Pelanggan Terminasi Pada Dashboard */
.ct_terminasi {
    margin-top: 10px;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;

}

.ad_terminasi {
    font-size: 14px;
    color: #000000;
    width: 25rem;
    text-transform: uppercase;
}

/* Aturan media query untuk perangkat dengan lebar layar maksimum 600px */
@media only screen and (max-width: 600px) {
    .ct_terminasi {
        margin-top: 10px;
        font-size: 12px;
        color: #000000;
        font-weight: bold;
    }
    
    .ad_terminasi {
        font-size: 12px;
        color: #000000;
        width: 18rem;
        text-transform: uppercase;
    }
}