.informasi-card {
    background-color: #219C90;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(0 0 0);
}

.informasi-header {
    margin-bottom: 0;
    padding: 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.informasi-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.informasi-body {
    padding: 1rem; 
}

.informasi {
    margin: auto;
    display: flex;
    width: 420px;
    color: #fff;
    border: 3px solid #fff;
    padding: 0.4rem; 
    margin-bottom: 5px;
    width: 90%;
}

.informasi h3 {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.informasi-persentase {
    display: flex;
    align-items: center;
    align-content: center;
}

.informasi-persentase h1 {
    color: black;
    font-weight: bold;
    font-size: 45px;
    align-items: center;
    align-content: center;
}

.total-persentase {
    margin-left: 10px;
    font-size: 20px;
}

.informasi-icon {
    text-align: center;
    align-items: center;
    align-content: center;
}

.icon-card {
    width: 60px;
    align-items: center;
    align-content: center;
}


@media only screen and (max-width: 600px) {
    .total-persentase {
        margin-left: 10px;
        font-size: 17px;
    }
}

/* TOP SALES */

.topsales-card {
    background-color: #000000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgb(0 0 0);
}

.topsales-informasi {
    margin: auto;
    display: flex;
    color: #fff;
    padding: 0.4rem; 
    margin-bottom: 5px;
    width: 90%;
}

.rank-list {
    margin: auto;
    width: 100%;
}

.rank-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Menyesuaikan lebar dengan parent */
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.rank-item:hover {
    background-color: #f0f0f0;
}

.medal {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    filter: drop-shadow(16px 7px 8px );
    -webkit-filter: drop-shadow(0px 0px 10px  #000000);
}

.medal-terminasi {
    width: 45px;
    height: 45px;
    text-align: center;
    filter: drop-shadow(16px 7px 8px );
    -webkit-filter: drop-shadow(0px 0px 5px  #000000);
}

.username-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.persentase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Add a blue border for ranks 1 to 3 */
.rank-item.first-three{
    background-color: #43D9BD;
    border: 3.5px solid #063573;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.rank-item.first-three .username {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px; 
    border-bottom: 2px solid #000000;
}

.rank-item.first-three .jumlah {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.rank-item.first {
    background-color: #43D9BD;
    border: 3px solid #063573;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.rank-item.first .username {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px; 
    border-bottom: 2px solid #000000;
}

.rank-item.first .jumlah {
    font-size: 17px;
    color: #000000;
    font-weight: bold;
}

.rank-item.first .jumlah-terminasi {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    font-weight: bold;
    margin-top: 5px;
}


/* Add a red border for ranks 4 and below */
.rank-item.rank-four-and-below {
    background-color: #8C8C8C;
    border: 3.5px solid #404040;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.rank-item.rank-four-and-below .username {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px; 
    border-bottom: 2px solid #000000;
}

.rank-item.rank-four-and-below .jumlah {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.rank-item.rank-four-and-below .nomor {
    margin-right: 40px; 
    font-weight: bold;
    font-size: 26px;
    color: #000000;
}

.rank-item.rank-two-and-below {
    background-color: #8C8C8C;
    border: 3px solid #404040;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.rank-item.rank-two-and-below .username {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px; 
    border-bottom: 2px solid #000000;
}

.rank-item.rank-two-and-below .jumlah {
    font-size: 15px;
    color: #000000;

    font-weight: bold;
}

.rank-item.rank-two-and-below .jumlah-terminasi {
    font-size: 22px;
    color: #000000;
    font-weight: bold;
}

.rank-item.rank-two-and-below .nomor-terminasi {
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}


.ct-selling {
    color: #000000;
    font: 17px;
    font-weight: bold;
}

.ct-selling span {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
}

/* Aturan media query untuk perangkat dengan lebar layar maksimum 600px */
@media only screen and (max-width: 600px) {
    .informasi-title {
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }

    .username-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .rank-item.first-three .username {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 5px; 
        border-bottom: 2px solid #000000;
    }
    
    .rank-item.first-three .jumlah {
        font-size: 15px;
        color: #000000;
        font-weight: bold;
    }

    .rank-item.rank-four-and-below .username {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 5px; 
        border-bottom: 2px solid #000000;
    }
    
    .rank-item.rank-four-and-below .jumlah {
        font-size: 15px;
        color: #000000;
        font-weight: bold;
    }
    
    .rank-item.rank-four-and-below .nomor {
        margin-right: 15px; 
        font-weight: bold;
        font-size: 26px;
        color: #000000;
    }

    .medal {
        width: 55px;
        height: 55px;
        margin-right: 3px;
        filter: drop-shadow(16px 7px 8px );
        -webkit-filter: drop-shadow(0px 0px 10px  #000000);
    }
    
    /* Terminasi */
    .rank-item.first .username {
        font-size: 22px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 5px; 
        border-bottom: 2px solid #000000;
    }
    
    .rank-item.first .jumlah {
        font-size: 13px;
        color: #000000;
        font-weight: bold;
    }
    
    .rank-item.first .jumlah-terminasi {
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        font-weight: bold;
        margin-top: 5px;
    }

    .rank-item.rank-two-and-below .username {
        font-size: 22px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 5px; 
        border-bottom: 2px solid #000000;
    }
    
    .rank-item.rank-two-and-below .jumlah {
        font-size: 13px;
        color: #000000;
    
        font-weight: bold;
    }
    
    .rank-item.rank-two-and-below .jumlah-terminasi {
        font-size: 13px;
        color: #000000;
        font-weight: bold;
    }
    
    .rank-item.rank-two-and-below .nomor-terminasi {
        font-weight: bold;
        font-size: 22px;
        color: #000000;
    }

}

/* Gaya untuk tombol */
.btn-group button {
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid #17a2b8;
}

/* Gaya untuk dropdown menu */
.dropdown-menu {
    background-color: aqua;
    border: 1px solid #17a2b8;
}

/* Gaya untuk item di dalam dropdown menu */
.dropdown-item {
    color: black;
}

/* Gaya untuk ikon trash di dalam dropdown menu */
.dropdown-item i {
    margin-right: 5px; /* Spasi antara ikon dan teks */
}



